<header class="bg-white shadow-sm">
  <div
    class="mx-auto max-w-7xl px-4 py-4 sm:px-6 lg:px-8 sm:flex sm:items-center"
  >
    <div class="sm:flex-auto">
      <h1 class="text-lg font-semibold leading-6 text-gray-900">Test Plans</h1>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <app-dropdown>
        <a
          class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:cursor-pointer"
          role="menuitem"
          tabindex="-1"
          id="menu-item-0"
          (click)="isCreateTestPlanModalOpen = true"
          >Create Test Plan</a
        >
        <a
          class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:cursor-pointer"
          role="menuitem"
          tabindex="-1"
          id="menu-item-1"
          >Delete Selected Test Plans</a
        >
      </app-dropdown>
    </div>
  </div>
</header>

<div class="mx-auto max-w-7xl px-4 py-3 sm:px-6 lg:px-8">
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle">
        <table class="min-w-full border-separate border-spacing-0">
          <thead>
            <tr>
              <th
                scope="col"
                class="h-4 w-4 sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8"
              ></th>
              <th
                scope="col"
                class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter"
              >
                Test Plan Name
              </th>
              <th
                scope="col"
                class="sticky top-0 z-10 hidden border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:table-cell"
              >
                Status
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let testPlan of visibleTestPlans">
              <td class="relative px-7 border-b sm:w-12 sm:px-6">
                <input
                  type="checkbox"
                  class="absolute left-4 top-1/2 -mt-2 h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                />
              </td>
              <td
                class="whitespace-nowrap border-b border-gray-200 py-4 pr-3 text-sm font-medium text-gray-900"
              >
                {{ testPlan.name }}
              </td>
              <td
                class="whitespace-nowrap border-b border-gray-200 hidden px-3 py-4 text-sm text-gray-500 sm:table-cell"
              >
                {{ testPlan.status }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-create-test-plan-dialog
  [isOpen]="isCreateTestPlanModalOpen"
  (modalClosed)="onClosedCreateTestPlanModal()"
></app-create-test-plan-dialog>
