<div
  class="fixed inset-0 z-20"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
  [ngClass]="isOpen ? 'visible' : 'hidden'"
>
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div
    class="inset-0 overflow-y-auto flex min-h-full min-w-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
  >
    <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
    <div
      class="transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-xl sm:p-6"
      [@modalOpenClose]="isOpen ? 'open' : 'closed'"
    >
      <nav aria-label="Progress" class="mb-2">
        <ol role="list" class="space-y-4 md:flex md:space-x-8 md:space-y-0">
          <li *ngFor="let step of steps; let i = index" class="md:flex-1">
            <a
              class="flex flex-col border-l-4 py-2 pl-4 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4"
              [ngClass]="step.classes"
              (click)="onClickStep(i)"
            >
              <span class="text-sm font-medium" [ngClass]="step.spanClasses"
                >Step {{ i + 1 }}</span
              >
              <span class="text-sm font-medium">{{ step.display }}</span>
            </a>
          </li>
        </ol>
      </nav>

      <!-- Dialog content -->
      <div class="px-4 py-5 sm:p-6">
        <!-- Step 1 -->
        <div *ngIf="currentStep == 0">
          <div class="mb-3">
            <label
              for="search"
              class="text-sm font-medium leading-6 text-gray-900 hidden"
              >Search</label
            >
            <div class="relative mt-2 rounded-md shadow-sm">
              <input
                type="text"
                name="search"
                id="search"
                class="block w-full rounded-md border-0 py-1.5 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                placeholder="Search"
              />
              <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3"
              ></div>
            </div>
          </div>

          <div class="overflow-hidden rounded-lg bg-white shadow mb-3">
            <div class="h-50 overflow-y-auto">
              <ul role="list" class="divide-y divide-gray-100">
                <li class="flex gap-x-4 px-3 py-5">
                  <div class="min-w-0">
                    <p class="text-sm font-semibold leading-6 text-gray-900">
                      Dog
                    </p>
                  </div>
                </li>
                <li class="flex gap-x-4 px-3 py-5">
                  <div class="min-w-0">
                    <p class="text-sm font-semibold leading-6 text-gray-900">
                      Dog
                    </p>
                  </div>
                </li>
                <li class="flex gap-x-4 px-3 py-5">
                  <div class="min-w-0">
                    <p class="text-sm font-semibold leading-6 text-gray-900">
                      Dog
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Step 2 -->
        <div *ngIf="currentStep == 1"></div>

        <div *ngIf="currentStep == 2">
          <form>
            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4">
              <label
                for="name"
                class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5"
                >Test Plan Name</label
              >
              <div class="mt-2 sm:col-span-2 sm:mt-0">
                <div
                  class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md"
                >
                  <input
                    type="text"
                    name="name"
                    id="name"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
            </div>
            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-3">
              <label
                for="tag"
                class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5"
                >Tag</label
              >
              <div class="mt-2 sm:col-span-2 sm:mt-0">
                <div
                  class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md"
                >
                  <input
                    type="text"
                    name="tag"
                    id="tag"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>

        <!-- Control buttons -->
        <div
          class="mt-5 sm:mt-6 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3"
        >
          <button
            type="button"
            class="min-w-40 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
            (click)="onCloseModal()"
          >
            Cancel
          </button>
          <button
            type="button"
            class="min-w-40 inline-flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 sm:w-auto"
            (click)="onClickNextOrFinishButton()"
          >
            {{ currentStep == finalStep ? "Finish" : "Next" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
